body {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background-color: rgb(147, 238, 233);

}
.gradient {
  background-size: ;

  background: rgb(147, 238, 233);
  background-image: linear-gradient(to right, rgb(147, 238, 233), rgb(232, 212, 240));
}

h1 {
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 0px;
  color: pink;
}
.inputSection {
  margin: 50px 0px 80px 0px;
  width: 400px;
}
.inputs {
  width: inheret;
  display: flex;
  flex-direction: column;
}
input {
  margin-top: 10px;
  padding: 8px;
}
.addOption {
  margin-top: 10px;
  background-color: rgb(221, 162, 238);
  padding: 8px 16px;
}
button {
border: none;
border-radius: 5px;
background-color: pink;
color: white;
cursor: pointer;
font-size: 14px;
padding: 10px 40px;
}
